@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
footer {
  text-align: center;
  padding: 3px;
  background-color: @Model.FooterColor;
  color: white;
}
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is a demo app from the <a href="https://courselabs.co/dev">Software Development Fundamentals</a> class.</h2>
    <hr/>
    <h3>The server is: @Environment.MachineName.</h3>
    <h3>It is: @DateTime.Now on the server.</h3>
    <hr/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if(Model.EnvironmentName != "PROD")
{
  <footer>
    <p>Environment: @Model.EnvironmentName<br>
  </footer>
}
